@model NewComModelVM
@using eComputer.Data.ViewModels;


@{
    ViewData["Title"] = "Edit";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edit @Model.ModelName</h1>
        </p>
        <div class="row">
            <div class="col-md-10 offset-1">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group text-center">
                        <img id="ImagePreview" class="border-info rounded-circle" style="max-width:200px" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SeriesId" class="control-label"></label>
                                <select asp-for="SeriesId" class="form-control" asp-items="ViewBag.Serieses">
                                </select>
                                <span asp-validation-for="SeriesId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelName" class="control-lable"></label>
                                <input asp-for="ModelName" class="form-control" />
                                <span asp-validation-for="ModelName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelDescription" class="control-label"></label>
                                <textarea asp-for="ModelDescription" class="form-control">
                                </textarea>
                                <span asp-validation-for="ModelDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageURL" class="control-lable"></label>
                                <input asp-for="ImageURL" class="form-control" />
                                <span asp-validation-for="ImageURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BasePrice" class="control-lable">Base Price</label>
                                <input asp-for="BasePrice" type="number" id="basePrice" class="form-control" />
                                <span asp-validation-for="BasePrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelPrice" class="control-lable"></label>
                                <input asp-for="ModelPrice" class="form-control" readonly />
                                <span asp-validation-for="ModelPrice" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            @*<div class="form-group">
                                    <label asp-for="ModelDefaultCPU" class="control-label"></label>
                                    <select asp-for="ModelDefaultCPU" class="form-control"asp-items="@ViewBag.Processors">
                                        <option value="">-- Select an option --</option>
                                    </select>
                                    <span asp-validation-for="ModelDefaultCPU" class="text-danger"></span>
                                </div>*@
                            <div class="form-group">
                                <label asp-for="ModelDefaultCPU" class="control-label"></label>
                                <select asp-for="ModelDefaultCPU" class="form-control">
                                    <option value="">-- Select an option --</option>
                                    @foreach (Accessory accessory in ViewBag.Processors)
                                    {
                                        <option value="@accessory.Id" data-price="@accessory.AccessoryPrice">@accessory.AccessoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="ModelDefaultCPU" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelDefaultMemory" class="control-label"></label>
                                <select asp-for="ModelDefaultMemory" class="form-control">
                                    <option value="">-- Select an option --</option>
                                    @foreach (Accessory accessory in ViewBag.Memory)
                                    {
                                        <option value="@accessory.Id" data-price="@accessory.AccessoryPrice">@accessory.AccessoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="ModelDefaultMemory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelDefaultVGA" class="control-label"></label>
                                <select asp-for="ModelDefaultVGA" class="form-control">
                                    <option value="">-- Select an option --</option>
                                    @foreach (Accessory accessory in ViewBag.VGA)
                                    {
                                        <option value="@accessory.Id" data-price="@accessory.AccessoryPrice">@accessory.AccessoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="ModelDefaultVGA" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelDefaultHDD" class="control-label"></label>
                                <select asp-for="ModelDefaultHDD" class="form-control">
                                    <option value="">-- Select an option --</option>
                                    @foreach (Accessory accessory in ViewBag.HDD)
                                    {
                                        <option value="@accessory.Id" data-price="@accessory.AccessoryPrice">@accessory.AccessoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="ModelDefaultHDD" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelDefaultSSD" class="control-label"></label>
                                <select asp-for="ModelDefaultSSD" class="form-control">
                                    <option value="">-- Select an option --</option>
                                    @foreach (Accessory accessory in ViewBag.SSD)
                                    {
                                        <option value="@accessory.Id" data-price="@accessory.AccessoryPrice">@accessory.AccessoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="ModelDefaultSSD" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelDefaultOS" class="control-label"></label>
                                <select asp-for="ModelDefaultOS" class="form-control">
                                    <option value="">-- Select an option --</option>
                                    @foreach (Accessory accessory in ViewBag.OS)
                                    {
                                        <option value="@accessory.Id" data-price="@accessory.AccessoryPrice">@accessory.AccessoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="ModelDefaultOS" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModelDefaultAntivirus" class="control-label"></label>
                                <select asp-for="ModelDefaultAntivirus" class="form-control">
                                    <option value="">-- Select an option --</option>
                                    @foreach (Accessory accessory in ViewBag.Antivirus)
                                    {
                                        <option value="@accessory.Id" data-price="@accessory.AccessoryPrice">@accessory.AccessoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="ModelDefaultAntivirus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h4>Select Customizable Options</h4>
                    <p>You can select multiple options.</p>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="CustomizeOptions" class="control-label"></label>
                                <select asp-for="CustomizeOptions" class="form-control" asp-items="ViewBag.Accessories" multiple>
                                </select>
                                <span asp-validation-for="CustomizeOptions" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary float-left" asp-action="Index">Show All</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>$(document).ready(function () {
        var output = document.getElementById('ImagePreview');
        output.src = $("#ImageURL").val();
        })

        $("#ImageURL").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })</script>

    <script>
        
        var totalPrice = 0;
        var previousBasePrice = 0;
        var previousValueCPU = 0;
        var previousValueMemory = 0;
        var previousValueVGA = 0;
        var previousValueHDD = 0;
        var previousValueSSD = 0;
        var previousValueOS = 0;
        var previousValueAntivirus = 0;

        $(document).ready(function () {
            var basePrice = parseFloat($('#basePrice').val());
            var cpuPrice = $('#ModelDefaultCPU').find('option:selected').data('price');
            var MemoryPrice = $('#ModelDefaultMemory').find('option:selected').data('price');
            var VGAPrice = $('#ModelDefaultVGA').find('option:selected').data('price');
            var HDDPrice = $('#ModelDefaultHDD').find('option:selected').data('price');
            var SSDPrice = $('#ModelDefaultSSD').find('option:selected').data('price');
            var OSPrice = $('#ModelDefaultOS').find('option:selected').data('price');
            var AntivirusPrice = $('#ModelDefaultAntivirus').find('option:selected').data('price');

            if (!isNaN(basePrice)) {
                previousBasePrice = basePrice;
                totalPrice += basePrice;
            }
            if (!isNaN(cpuPrice)) {
                previousValueCPU = cpuPrice;
                totalPrice += cpuPrice;
            }

            if (!isNaN(MemoryPrice)) {
                previousValueMemory = MemoryPrice;
                totalPrice += MemoryPrice;
            }

            if (!isNaN(VGAPrice)) {
                previousValueVGA = VGAPrice;
                totalPrice += VGAPrice;
            }

            if (!isNaN(HDDPrice)) {
                previousValueHDD = HDDPrice;
                totalPrice += HDDPrice;
            }
            if (!isNaN(SSDPrice)) {
                previousValueSSD = SSDPrice;
                totalPrice += SSDPrice;
            }
            if (!isNaN(OSPrice)) {
                previousValueOS = OSPrice;
                totalPrice += OSPrice;
            }
            if (!isNaN(AntivirusPrice)) {
                previousValueAntivirus = AntivirusPrice;
                totalPrice += AntivirusPrice;
            }
            $("#ModelPrice").val(totalPrice);
        });


        $("#basePrice").on("change", function () {
            var basePrice = parseFloat($('#basePrice').val());
            if (!isNaN(basePrice)) {
                if (previousBasePrice == 0) {
                    totalPrice += basePrice;
                    previousBasePrice = basePrice;
                } else if (previousBasePrice != 0) {
                    totalPrice -= previousBasePrice;
                    totalPrice += basePrice;
                    previousBasePrice = basePrice;
                }
            } else {
                totalPrice -= previousBasePrice;
                previousBasePrice = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });
        $("#ModelDefaultCPU").on("change", function () {
            var cpuPriceOption = $(this).find('option:selected');
            var cpuPrice = cpuPriceOption.data('price')
            if (!isNaN(cpuPrice)) {
                if (previousValueCPU == 0) {
                    totalPrice += cpuPrice;
                    previousValueCPU = cpuPrice;
                } else if (previousValueCPU != 0) {
                    totalPrice -= previousValueCPU;
                    totalPrice += cpuPrice;
                    previousValueCPU = cpuPrice;
                }
            } else {
                totalPrice -= previousValueCPU;
                previousValueCPU = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });

        $("#ModelDefaultMemory").on("change", function () {
            var MemoryPriceOption = $(this).find('option:selected');
            var MemoryPrice = MemoryPriceOption.data('price')
            if (!isNaN(MemoryPrice)) {
                if (previousValueMemory == 0) {
                    totalPrice += MemoryPrice;
                    previousValueMemory = MemoryPrice;
                } else if (previousValueMemory != 0) {
                    totalPrice -= previousValueMemory;
                    totalPrice += MemoryPrice;
                    previousValueMemory = MemoryPrice;
                }
            } else {
                totalPrice -= previousValueMemory;
                previousValueMemory = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });

        $("#ModelDefaultVGA").on("change", function () {
            var VGAPriceOption = $(this).find('option:selected');
            var VGAPrice = VGAPriceOption.data('price')
            if (!isNaN(VGAPrice)) {
                if (previousValueVGA == 0) {
                    totalPrice += VGAPrice;
                    previousValueVGA = VGAPrice;
                } else if (previousValueVGA != 0) {
                    totalPrice -= previousValueVGA;
                    totalPrice += VGAPrice;
                    previousValueVGA = VGAPrice;
                }
            } else {
                totalPrice -= previousValueVGA;
                previousValueVGA = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });

        $("#ModelDefaultHDD").on("change", function () {
            var HDDPriceOption = $(this).find('option:selected');
            var HDDPrice = HDDPriceOption.data('price')
            if (!isNaN(HDDPrice)) {
                if (previousValueHDD == 0) {
                    totalPrice += HDDPrice;
                    previousValueHDD = HDDPrice;
                } else if (previousValueHDD != 0) {
                    totalPrice -= previousValueHDD;
                    totalPrice += HDDPrice;
                    previousValueHDD = HDDPrice;
                }
            } else {
                totalPrice -= previousValueHDD;
                previousValueHDD = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });

        $("#ModelDefaultSSD").on("change", function () {
            var SSDPriceOption = $(this).find('option:selected');
            var SSDPrice = SSDPriceOption.data('price')
            if (!isNaN(SSDPrice)) {
                if (previousValueSSD == 0) {
                    totalPrice += SSDPrice;
                    previousValueSSD = SSDPrice;
                } else if (previousValueSSD != 0) {
                    totalPrice -= previousValueSSD;
                    totalPrice += SSDPrice;
                    previousValueSSD = SSDPrice;
                }
            } else {
                totalPrice -= previousValueSSD;
                previousValueSSD = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });

        $("#ModelDefaultOS").on("change", function () {
            var OSPriceOption = $(this).find('option:selected');
            var OSPrice = OSPriceOption.data('price');
            if (!isNaN(OSPrice)) {
                if (previousValueOS == 0) {
                    totalPrice += OSPrice;
                    previousValueOS = OSPrice;
                } else if (previousValueOS != 0) {
                    totalPrice -= previousValueOS;
                    totalPrice += OSPrice;
                    previousValueOS = OSPrice;
                }
            } else {
                totalPrice -= previousValueOS;
                previousValueOS = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });

        $("#ModelDefaultAntivirus").on("change", function () {
            var AntivirusPriceOption = $(this).find('option:selected');
            var AntivirusPrice = AntivirusPriceOption.data('price');
            if (!isNaN(AntivirusPrice)) {
                if (previousValueAntivirus == 0) {
                    totalPrice += AntivirusPrice;
                    previousValueAntivirus = AntivirusPrice;
                } else if (previousValueAntivirus != 0) {
                    totalPrice -= previousValueAntivirus;
                    totalPrice += AntivirusPrice;
                    previousValueAntivirus = AntivirusPrice;
                }
            } else {
                totalPrice -= previousValueAntivirus;
                previousValueAntivirus = 0;
            }

            $("#ModelPrice").val(totalPrice);
        });</script>
}